.about {
  background-color: #493a33;
  color: #fefbf6;
}

.about__header {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  padding: 38px 0px 136px;
}

.about__title {
  font-weight: 400;
  font-size: 95px;
  line-height: 129.2px;
  margin: 0px 0px 26px 161px;
}
.about__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  max-width: 866px;
  text-align: center;
  margin: auto;
  padding-bottom: 153px;
  text-align: justify;
}
