.resume {
  color: #fefbf6;
  background-color: #ba8e69;
  padding: 63px 225px 0px;
}

.resume__title {
  font-family: Bellota;
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  line-height: 200px;
}

.resume__content {
  border-left: solid 2px #fefbf6;
  padding: 0px 61px 205px;
}

.resume__education {
  max-width: 593px;
  padding-bottom: 94px;
}

.resume__description {
  font-family: Trispace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}

.resume__experience {
  max-width: 586px;
  padding-bottom: 103px;
}

.resume__subtitle {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.resume__skills {
  max-width: 797px;
}

.resume__skills-list {
  display: grid;
  grid-template-rows: repeat(12, auto);
  grid-auto-flow: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: left;
}

.resume__skills-item {
  list-style: none;
}
