.nav {
  font-family: Trispace;
  max-width: 86px;
  min-width: 12%;
  border-right: solid 3px #3a3a3a;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 18.08px;
  padding: 18px 29px 0px 22px;
  justify-content: center;
  background-color: #d3cfc4;
}

.nav__link {
  text-decoration: none;
  color: #3a3a3a;
}
.nav__link:hover {
  border-bottom: #3a3a3aa8 5px solid;
  border-radius: 5px;
}

.nav__links {
  position: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  list-style: none;
  align-items: center;
}
