.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 80px;
  max-width: 21px;
  padding: 0px 58px 56px;
}

.footer__image {
  height: 30px;
  width: 30px;
}
